$navbarbg: #fff;
$bgitem: #fff;
$blur: #0000000a;
$linkcolor: #000000;
$bgbtn: #04f2f2 !important;
$bgbtnhover: #f2b705 !important;
$hero: "Hero new";
$titleblur: #999999;
$boderitemcolor: #f2f2f2;
$bordercontentitem: 8px solid #025e73;
$rightborderitem: 1px solid #e5e5e5;
$bgfooter: #162c41;
$footerlogocolor: #ffffff;
